* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-color: rgb(245, 245, 245);
}

.product-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);  
    border-radius: 50px;
    padding: 55px;
}

.product-img img {
    width: 100%;
    height: auto;
    border: 1px solid rgb(50, 50, 50);
    border-radius: 50px;
}

.product-img img:hover {
    border: 3px solid #4897cc;
}

.product-details {
    padding-left: 40px;
    font-family: "Bebas Neue", serif;
}

.product-title {
    color: rgb(12, 12, 12);
    font-size: 40px;
    font-weight: 500;
    font-family: "Bebas Neue", serif;
    padding: 2px;
    margin-bottom: 0.5rem;
    border-bottom: 3px solid black;
}

.product-price {
    font-family: "Bebas Neue", serif;
    font-size: 30px;
    font-weight: 300;
    color: #4897cc;
    margin-bottom: 2.7rem;
}

.contents {
    font-size: 22px;
    font-weight: 300;
}

.product-details2 p {
    color: rgb(50, 50, 50);
    font-size: 13px;
    padding-top: 7px;
    text-align: left;
}

.details_li {
    font-size: 18px;
    font-weight: 400;
}

.details_li p {
    color: rgb(50, 50, 50);
    font-size: 13px;
    padding: 10px 5px;
    text-align: left;
}

.li_contents h1 {
    padding-top: 2rem;
    font-family: "Bebas Neue", serif;
    font-size: 22px;
    font-weight: 300;
    text-align: left;
}

.contents_per_version {
    display: inline-block;
    margin-bottom: 3rem;
  }

.contents_per_version li {
    font-family: "Roboto", serif;
    font-size: 15px;
    padding: 5px 5px;
    border: 1px solid black;
}

.purchase {
    display: flex;
    align-items: flex-start;
    gap: 1rem;
    padding-top: 30px;
    padding-bottom: 40px;
}

.purchase input[type="number"] {
    color: #0c0c0c;
    background-color: transparent;
    border: 1px solid black;
    border-radius: 5px;
    font-size: 15px;
    font-weight: 600;
    padding: 10px 20px;
    width: 30%;
    text-align: center;
    cursor: pointer;
    transition: none;
}

.purchase input[type="number"]:hover {
    border: 1px solid #4897cc;
    color: #ebebeb;
    background-color: #4897cc;
    transition: ease-in-out;
}

.addToCart {
    color: #0c0c0c;
    background-color: transparent;
    border: 1px solid black;
    border-radius: 5px;
    font-size: 15px;
    font-weight: 600;
    padding: 10px 20px;
    width: 100%;
    cursor: pointer;
    transition: none;
}

.addToCart:hover {
    border: 1px solid #4897cc;
    color: #ebebeb;
    background-color: #4897cc;
    transition: ease-in-out;
}


@media (max-width: 768px) {
    .product-container {
        grid-template-columns: repeat(2, 1fr); 
        padding: 15px;
    }

    .product-img img {
        width: 100%;
    }

    .product-details {
        float: left;
    }

    .purchase {
        align-items: center;
    }

}